body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#convite-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    border-radius: 8px 8px 0 0;
}

h1 {
    color: #e44d26;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #e44d26;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #d04520;
}

#resposta-container, #dia-container, #comida-container {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#resposta-container p, #dia-container p, #comida-container p {
    font-size: 16px;
    color: #333;
}
